.container{
    display: flex;
    height: 200px;
    width: 300;
    background: green;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-flow: column wrap;
}
.item{
    height:50px;
    width: 100px;
    border: 1px solid black;
    background-color: red;
}