.container{
    height:500px;
    width:1000px;
    background-color: rgb(3, 52, 36);
    border:1px solid black;
    display: grid;
     grid-template-columns:  repeat(4,100px);
    grid-template-rows: repeat(3,100px);
    /* grid-template-areas: "header header header header" "main main . sidebar"
    "footer footer footer footer";  */
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center ;

}
.item{
   height:100px;
    width:150px; 
    background-color: brown;
    border:1px solid black;
    color: white;
    align-content: center;
    text-align: center;
}
 /* .item1{
    grid-area: header;

}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}  */
