h1{
    color:blueviolet;
   text-align:center;
}
p{
    color:blue
}
div{
    
    height: 200px;
    width: 700px;
    color: blue;
    background-color: antiquewhite;
    padding: 1px;
    border:5px solid rgb(23, 23, 23);
    margin: 1px;
}
