.container{
    margin:5px;
    padding:10px;
    border: solid black;
    width: 600px;
}
.box1{
    text-align: center;
    background-color: yellowgreen;
    margin:20pxpx;
    border: yellow;
    width: 120px;
    height: 250px;
    display: inline-block;
}
.box2{
    text-align: center;
    background-color: pink;
    margin:20px;
    border: solid pink;
    width: 120px;
    height: 250px;
    display: inline-block;
}
.box3{
    text-align: center;
    background-color: skyblue;
    margin:20px;
    border: 2px solid skyblue;
    width: 120px;
    height: 250px;
    display:inline-block;
}